* {
    box-sizing: border-box;
}
li {
    list-style: none;
}
header{
    text-align: center;
    margin-top: 3em;
}
.main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    margin: 0 auto;
    border: 0.1em solid lightgray;
}
form {
    width:50%;
}
.answer-chioce {
    margin-bottom: .5em;
}
.progress{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: 0 auto;
}
.progress li {
    padding-top: 0.5em;
    padding-left: 1em;
}
.vr-img {
    margin-bottom: 1em;
}
.img-license {
    font-size: .6em;
    position: relative;
    top: -3.5em;
    color: white;
}
.img-license a:visited{
    color: white ;
}
.submit-button {
    width:100%;
    margin: .5em 0 1em;
}    
 label{
    margin-left: .5em;
}
.success{
    background-color: lightgreen;
}
.failure {
    background-color: lightcoral;
}
.message{
    border: 1px solid darkgray;
    text-align: center;
    padding: .5em;
}
.correct {
    color: lightgreen;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.correct::before {
    content: 'Correct!'
}
.result li {
    font-size: 2em;
    font-weight: 700;
    
}

/* remove in final */
button {
    cursor: pointer;
}
button a {
    text-decoration: none;
    color: black;
}